body {
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow:hidden;
}

#page1Background, #page2Background, #page3Background  {
  cursor: url('images/remote.png'), auto; 
  position: absolute;
  height: 100%;
  width: 120%;
}

/*TV 1*/
#page1 {
  position: absolute;
  height: 15%;
  width: 10%;
  top: 30%;
  left: 10%;
}

#page1:hover {
  background-image: url('images/bellezza.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  z-index: 1;
}

/*TV 2*/
#page2 {
  position: absolute;
  height: 15%;
  width: 10%;
  top: 50%;
  left: 45%;
}

#page2:hover {
  background-image: url('images/columbus.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  z-index: 1;
}

/*TV 3*/
#page3 {
  position: absolute;
  height: 15%;
  width: 10%;
  top: 30%;
  left: 80%;
}

#page3:hover {
  background-image: url('images/mood.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  z-index: 1;
}

img {
  z-index: 2;
}

h1 {
  font-size: 3em;
  text-align: center;
}

#title1 {
  font-family: 'Cinzel', serif;
  color: gold;
}

#title2 {
  font-family: 'Work Sans', serif;
  font-weight: 200;
  color: darkgreen;
}

#title3 {
  font-family: 'Playfair Display', serif;
  color: darkred;
}


    
    